body {
    background-color: white;
}

.loadingDiv {
    text-align: center;
}

.productsTable {
    width: 70%;
    max-width: 1100px;
    margin: auto;
    min-width: 500px;
}

.navigation {
    text-align: center;
    margin: 0 auto;
}

.navigation ul li {
    display: inline-block;
    width: 60px;
}

.page-item {
    border-radius: 2px;
    min-width: 90px;
    border: 1px solid lightgray;

}

.page-item:hover {
    border: 1px solid gray;
}

.page-item.active {
    
    border: 1px solid rgb(63, 204, 70);
    background-color: rgb(135, 236, 140);
}

.page-item.active a {
    color: black;
}

.page-item.disabled {
    display: none;
}

.page-item.disabled a {
    color: black;
}

.page-link {
    color: rgb(42, 104, 39);
    font-size: 20px;
    cursor: pointer;
}

.page-link:hover {
    /* font-size: 22px; */
    /* text-decoration: underline rgb(42, 104, 39) !important; */
}