body {
    background-color: white;
}

.loadingDiv {
    text-align: center;
}

.products {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    min-width: 500px;
    box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.28);
    margin-top: 2px;
}

.product {
    border-bottom: 1px dotted #e6e6e6;
}

.product:hover {
    background-color: #f1f1f1;
    background-image: linear-gradient(to left, rgba(200,0,0,0), rgb(207, 209, 205));
}

.product:nth-child(even) {
    background-color: #f3f3f3;
} 


.navigation {
    text-align: center;
    margin: 0 auto;
}

.navigation ul li {
    display: inline-block;
    width: 60px;
}

.page-item {
    border-radius: 2px;
    min-width: 90px;
    border: 1px solid lightgray;

}

.page-item:hover {
    border: 1px solid gray;
}

.page-item.active {
    
    border: 1px solid rgb(63, 204, 70);
    background-color: rgb(135, 236, 140);
}

.page-item.active a {
    color: black;
}

.page-item.disabled {
    display: none;
}

.page-item.disabled a {
    color: black;
}

.page-link {
    color: rgb(42, 104, 39);
    font-size: 20px;
    cursor: pointer;
}

.page-link:hover {
    /* font-size: 22px; */
    /* text-decoration: underline rgb(42, 104, 39) !important; */
}