.notFoundBody {
    text-align: center;
    margin-left: 400px;
    width: 300px;
}

.notFoundImg {
    width: 250px;
    height: 170px;

    margin-left: auto;
    margin-right: auto;
    display: block;
}

.goHomeBtn {
}

.goBackBtn {
    margin-left: 93px;
}
