.categories-container {
    height: 50px;
    float: left;
}
.categoryBar {
   width: 200px;
   margin: 3.66em 0 0 -63.9px;
   box-shadow: 0 1px 5px rgba(50,50,50,.6);
   position: fixed;
   background-color: white;
 }

.categoryBar > ul {
   padding-left: .5px;
   margin-bottom: -1px;
   margin-top: -1px;
}
 
.categoryBar li {
    padding: .5rem 0;
    color: rgb(42, 104, 39);
    cursor: pointer;
}

.categoryBar li:hover {
    background: rgb(42, 104, 39);
    color: white;
}

.viewAllText {
    font-size: 14px;
}
 
.viewAllCategoriesBtn {
    text-align: left;
    padding: 10px;
    margin-left: 82px;
    min-width: 120px;
}

@media screen and (max-width: 700px) {
    .categoryBar {
        margin: 3.46em 0 0 -77.3px;
    }
}