
 .appPage {
    overflow: hidden;
 }

 .appTitle {
    float: left;
 }

  /* navbar > */
 .navbar {
    overflow: hidden;
    background-color:rgb(42, 104, 39);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1100px;
    border:rgb(20, 20, 20);
    box-shadow: 0px 15px 10px -15px #111;    
  }
 
 .navbar button {
    float: left;
    font-size: 17px;
    margin: 5px 5px;
    height: 55px;
 }
 
 .navbar button:hover {
    background: #ddd;
    color: rgb(42, 104, 39);
 }

 .navbar button:last-child:hover {
    /* for shopping cart text */
    color: white;
    background: rgb(210, 210, 210);
 }