
* {box-sizing: border-box}

  input[type=text], input[type=password] {
  width: 300px;
  text-align: center;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  float: left;
}

.signupbtn {
    float: right;
}

.cancelbtn, .signupbtn {
  width: 120px;
  height: 50px;
}

.container {
    text-align: center;
}

.authButtons {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    height: 50px;
}

.authenticationMessage {
    color: red;
}