.productInfo {
    background-image: linear-gradient(to right,  rgba(255,0,0,0), rgba(255,255,255,1));
    padding-left: 1%;
    width: 30%;
}

.productImage {
    background-color: white;
    float: right;
    /* move img from border */
    margin: -3px 6% 0 0;
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.productDescription {
    text-align: left;
}

.productOptions {
    width: 8%;
    text-align: center;
    background-color: white;
}

.productDetails {
    background-image: linear-gradient(to right,  rgba(255,255,255,1), rgba(255,0,0,0));
    /* border-radius: 12px; */
    width: 10%; 
    text-align: center;
    padding-top: 0%;
}

.productDetails p {
    margin: 8px 0 -2px 0;
}

.productDetails h4 {
    margin: 0;
}


/* button */
button {
    display: inline-block;
    text-align: center; 
    width: 180px;
    background: #f3f0f1;
    position: relative;
    background: #f3f0f1;
    margin-bottom: 4px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    color: white;
    /* color: #6f6cde; */
}

/* button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

button:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
} */

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}
  
button:hover span:after {
    opacity: 1;
    right: 0;
}

.optionsDivider {
    height: 10px;
}

.addToCartBtn {
    background-color: rgb(32, 102, 24);
}

.addToCartBtn span:after {
    content: '\00bb';
}

.addToCartBtnDisabled {
    background-color: rgb(227, 45, 45);
    cursor: not-allowed !important;
    /* margin-top: 5px; */
}

.addToCartBtnDisabled span::after {
    content: '\00bb';
}

.detailsBtn {
    background-color: rgb(30, 119, 185);
}

.detailsBtn span:after {
    content: '\203A';
}

.editBtn {
    background-color: rgb(195, 123, 29);
}

.editBtn span::after {
    content: '\00AB';
}

@media screen and (max-width: 360px) {
    button {
        width: 140px;
        font-size: 16px;
    }
  }