body {
    min-width:700px;
    width: auto !important;  /* Firefox will set width as auto */
    width:700px;            /* As IE6 ignores !important it will set width as given px; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 10px;
}

footer {
    text-align: center;
}

/* table >>  */
table {
    box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.28);
}

tr:nth-child(even) {
    background-color: #f3f3f3;
} 

tr:hover {
    background-color: #f1f1f1;
    background-image: linear-gradient(to left, rgba(200,0,0,0), rgb(207, 209, 205));
}
/* << table  */

/* button >> */
button {

    background-color: rgb(42, 104, 39);
    color: white;

    -webkit-transition-duration: 0.4s;
    /* for compatibility */
    transition-duration: 0.4s;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

 /* << button */

 .toTopBtn {
     text-align: center;
     margin-top: 10px;
 }