body {
    min-width:700px;
    width: auto !important;  /* Firefox will set width as auto */
    width:700px;            /* As IE6 ignores !important it will set width as given px; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 10px;
}

footer {
    text-align: center;
}

/* button >> */
button {

    background-color: rgb(42, 104, 39);
    color: white;

    -webkit-transition-duration: 0.4s;
    /* for compatibility */
    transition-duration: 0.4s;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

 /* << button */

 .toTopBtn {
     text-align: center;
     margin-top: 10px;
 }