.languageOptions-container {
    float: left;
    height: 50px;
  }

.languageOptions {
     width: 132px;
     margin: 3.7em 0 16 .3em;
     box-shadow: 0 1px 5px rgba(50,50,50,.6);
     position: fixed;
     background-color: white;
     text-align: center;
}

.changeLanguageBtn {
     min-width: 190px;
}
   
.languageOptions ul {
     margin: 0;
     width: 100px;
}
   
.languageOptions button {
      min-width: 190px;
      margin: 0 !important;
      min-height: 60px;
}

@media screen and (max-width: 740px) {
     .languageOptions {
          margin: 3.4em 0 16 52.32em;
     }
 }